{% load static %}
<div class="custom-header-builder flexitype-transparent-header">
    <header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
        <div class="elementor elementor-1275">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-1bff562 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1bff562" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-99b0bc4" data-id="99b0bc4" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-d6ff4ea elementor-widget__width-auto elementor-widget elementor-widget-flexitype-logo" data-id="d6ff4ea" data-element_type="widget" data-widget_type="flexitype-logo.default">
                                <div class="elementor-widget-container">
                                    <div class="flexitype-builder-logo">
                                        {# Use a placeholder URL name for your home page #}
                                        <a href="{% url 'home' %}" class="custom-logo-link">
                                            <img src="{% static 'images/LOGOS/LogoMakr.png' %}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-0524021 elementor-hidden-tablet elementor-hidden-mobile elementor-widget__width-initial elementor-widget elementor-widget-flexitype-menu" data-id="0524021" data-element_type="widget" data-widget_type="flexitype-menu.default">
                                <div class="elementor-widget-container">
                                    <nav class="flexitype-main-menu-wrap">
                                        <ul id="menu-header-menu" class="flexitype-main-menu">
                                            {# Replace href="#" with your Django URL tags #}
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1272 current_page_item menu-item-2950">
                                                <a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2951">
                                                <a href="{% url 'about' %}">About Us</a>
                                            </li>
                                            {# Add more menu items here #}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-82f5341 elementor-widget__width-auto elementor-hidden-desktop elementor-widget elementor-widget-flexitype-menu-open-button" data-id="82f5341" data-element_type="widget" data-widget_type="flexitype-menu-open-button.default">
                                <div class="elementor-widget-container">
                                    <button class="flexitype-menu-open">
                                        <i class="flaticon-menu-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
</div>