{% extends 'base.html' %}
{% load static %}

{% block title %}Arab Brothers - Home{% endblock %}

{% block content %}
<div data-elementor-type="wp-page" data-elementor-id="1272" class="elementor elementor-1272" data-elementor-post-type="page">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-34d1b38 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="34d1b38" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d31ecf0" data-id="d31ecf0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-d7a8286 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d7a8286" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d8ce62d" data-id="d8ce62d" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-0f09a63 elementor-widget elementor-widget-heading" data-id="0f09a63" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">We Make Your Home Amazing</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b17b6d1 elementor-widget elementor-widget-heading" data-id="b17b6d1" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                <div class="flexitype-animated-heading">
                                                    We always make a great design for your
                                                    <div class="flexitype-text-animated" data-type-effect="typing">
                                                        <span class="flexitype-typed-text" data-typed-strings="Home,Building,Office,Room">Home</span>
                                                    </div>
                                                </div>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-15e76d9 elementor-widget elementor-widget-text-editor" data-id="15e76d9" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>We believe in a world where construction is simple, smart, and sustainable. Arab Brothers combines traditional craftsmanship with modern technology to deliver exceptional results.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0598851 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="0598851" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                {# Use a placeholder URL name for your contact page #}
                                <a class="elementor-button elementor-button-link elementor-size-sm" href="{% url 'contact' %}">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Get a Free Quote</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-df6b8ec" data-id="df6b8ec" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-d4d103 elementor-widget elementor-widget-image" data-id="d4d103" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor-pro - v3.22.0 - 20-05-2024 */
                                .elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
                            </style>
                            <img decoding="async" src="{% static 'images/image_d4d103.png' %}" title="image_d4d103" alt="image_d4d103" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Services Section #}
    <section class="elementor-section elementor-top-section elementor-element elementor-element-59d873d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="59d873d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6966f36" data-id="6966f36" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-c08168e elementor-widget elementor-widget-flexitype-services-grid" data-id="c08168e" data-element_type="widget" data-widget_type="flexitype-services-grid.default">
                        <div class="elementor-widget-container">
                            <div class="flexitype-services-grid-wrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        {# Service Item 1 #}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="flexitype-services-grid-item">
                                                <div class="flexitype-services-grid-icon">
                                                    <i class="flaticon-construction-3"></i>
                                                </div>
                                                <div class="flexitype-services-grid-content">
                                                    <h2><a href="{% url 'service_detail' 1 %}">General Contracting</a></h2>
                                                    <p>We manage and execute your entire construction project from start to finish.</p>
                                                    <div class="flexitype-services-grid-link">
                                                        <a href="{% url 'service_detail' 1 %}">
                                                            <span>Read More</span>
                                                            <i class="fa-solid fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# Service Item 2 #}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="flexitype-services-grid-item">
                                                <div class="flexitype-services-grid-icon">
                                                    <i class="flaticon-architect-1"></i>
                                                </div>
                                                <div class="flexitype-services-grid-content">
                                                    <h2><a href="{% url 'service_detail' 2 %}">Project Management</a></h2>
                                                    <p>Overseeing all aspects of the build to ensure deadlines and budgets are met.</p>
                                                    <div class="flexitype-services-grid-link">
                                                        <a href="{% url 'service_detail' 2 %}">
                                                            <span>Read More</span>
                                                            <i class="fa-solid fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# Service Item 3 #}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="flexitype-services-grid-item">
                                                <div class="flexitype-services-grid-icon">
                                                    <i class="flaticon-crane"></i>
                                                </div>
                                                <div class="flexitype-services-grid-content">
                                                    <h2><a href="{% url 'service_detail' 3 %}">Building Renovation</a></h2>
                                                    <p>Modernizing and structurally improving existing residential and commercial properties.</p>
                                                    <div class="flexitype-services-grid-link">
                                                        <a href="{% url 'service_detail' 3 %}">
                                                            <span>Read More</span>
                                                            <i class="fa-solid fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# Service Item 4 #}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="flexitype-services-grid-item">
                                                <div class="flexitype-services-grid-icon">
                                                    <i class="flaticon-ruler-1"></i>
                                                </div>
                                                <div class="flexitype-services-grid-content">
                                                    <h2><a href="{% url 'service_detail' 4 %}">Architecture Design</a></h2>
                                                    <p>Creating innovative and functional designs tailored to client needs and local regulations.</p>
                                                    <div class="flexitype-services-grid-link">
                                                        <a href="{% url 'service_detail' 4 %}">
                                                            <span>Read More</span>
                                                            <i class="fa-solid fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Contact Info Section (Footer Top) #}
    <section class="elementor-section elementor-top-section elementor-element elementor-element-314b1f4 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="314b1f4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-444f6f7" data-id="444f6f7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-b3334e2 elementor-widget elementor-widget-image" data-id="b3334e2" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" src="{% static 'images/LOGOS/LogoMakr.png' %}" title="LogoMakr-4S3b2S" alt="LogoMakr-4S3b2S" loading="lazy" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d39b8fa elementor-widget elementor-widget-text-editor" data-id="d39b8fa" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>We are a highly specialized construction company with a focus on quality, integrity, and client satisfaction. Let us bring your vision to life.</p>
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-d1a1b15 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d1a1b15" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c26ff34" data-id="c26ff34" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-270f2a4 elementor-widget elementor-widget-heading" data-id="270f2a4" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Call Anytime</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-310344f elementor-widget elementor-widget-text-editor" data-id="310344f" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p><a href="tel:+1234567890">+1 234 567 890</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-95764d0" data-id="95764d0" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-6916c5e elementor-widget elementor-widget-heading" data-id="6916c5e" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Mail Us</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0524c56 elementor-widget elementor-widget-text-editor" data-id="0524c56" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p><a href="mailto:info@arabbrothers.com">info@arabbrothers.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-66487e4" data-id="66487e4" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e221c5f elementor-widget elementor-widget-heading" data-id="e221c5f" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Our Location</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-36c5d19 elementor-widget elementor-widget-text-editor" data-id="36c5d19" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>123 Construction Road, New York, USA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}